*{
  margin: 0;padding: 0;
  
}.App {
  text-align: center;
}
body{
  height: 100vh;
  background-position: center ;
  background-size: cover;
  background-image: linear-gradient(to right bottom, #6bc3d1, #50cac4, #54cfa9, #75d184, #a0ce5b, #b2c949, #c3c239, #d5bb2c, #ccb62d, #c4b22e, #bbad2e, #b3a82f);

  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* border: #282c34 2px solid; */
  padding: 8px;
  backdrop-filter: blur(30px);
  box-shadow: 10px 2px 20px grey;

}
.logo{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  border-radius: 5px;

}
.logo:hover{
  border: rgb(255, 255, 255) 2px solid;
  cursor: pointer;
  border-radius: 5px;

}
.header-buttons{
  display: flex;
  justify-content: space-between;

}
/* .header-buttons{
  text-decoration: none;
} */
.header-buttons a{
  padding-left: 20px;
  text-decoration: none;
}

.header-buttons h1:hover{
  cursor: pointer;
}
.office-product{
  width: 150px;
  height: 60px;
  justify-content: center;
  background-color: rgb(104, 113, 113);


}
.office-product h3{
  font-size: 20px;
}

.searchbox{
  border: none;
  border-color: transparent;
  border-radius: 5px;
  height: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

  /* padding: 0 20px 0 20px; */

}
.searchbox{
  /* border: 2px solid white; */
  font-size: 110%;
  border-top-left-radius: 5px ;

}
.search, .input{
  min-height: 60px;
  font-size: 110%;
}
.search{
  /* background-color: rgb(243, 152, 87) */
  /* ; */
  border: none;
  padding: 0;
}
.search{
  background-color: green;
  transition: 0.1s ease  ;
}
.search:hover{
  background-color: #4ced3a;
  cursor: pointer;
}
.input{
  padding: 0 10px 0 10px;
  border: none;
}
.input:active{
  /* border: 2px solid red; */

}
.address{
  height: 100%;
  padding: 20px;
  padding-left: 20px ;
  padding-right: 20px;
  /* width: 100px; */
  font-size: 30px;
  left: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 5px;

}
.address:hover{
  border: 2px solid white;
  border-radius: 5px;


}